.informatin-list {}

.button {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(228, 228, 221);
    border-radius: 10px;
    padding: 15px;
}

.flex-button {
    width:50px;
    display: flex;
    align-items: center;
    justify-content:center;
    border-radius: 50%;
    padding:4px;
    border: none;
    background-color: white;
}
.flex-button:hover{
    background-color:red;
}

.btn-p {
    display: flex;
    justify-content: center;
    align-items: center;
}


.time {
    background-color: rgb(228, 228, 221);
    padding: 15px;
    border-radius: 10px;
}
@media screen and (max-widt:668){
    .informatin-list{
      

    }
}